@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	background-color: #000000;
	padding: 20px;
	background-image: linear-gradient(205deg, #000000 0%, #2e201a 74%);
}

.head_text {
	@apply mt-10 text-xl  text-gray-100 md:text-4xl lg:text-3xl;
}
.logo_text {
	@apply text-orange-300 font-bold
}

.desc {
	@apply mt-5;
}

